.photo-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 16px;
  padding: 26px 48px 92px 48px;
}

.photo-grid-image {
  width: 100%;
  object-fit: cover;
}
